:root{
    font-size: 16px;
    --blue-color: rgba(24,146,211,255);
    --gray-color: rgba(225,232,240,255);
    --yellow-color: rgba(239,180,40,255);
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
p{
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
}
svg{
    width: 2rem;
    height: 2rem;
}
li{
    list-style-type: none;
}
ul{
    padding: 0;
}
.page-layout{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
/* Dashboard */
.dashboard-section{
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 15px;
    padding-top: 15px;
    background-color: var(--blue-color);
    color: white;

}
.dashboard-home{
    font-size: large;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}
.dashboard-section svg{
    fill: white;
}
.dashboard-section li{
    display: flex;
    gap: 20px;
    align-items: center;
}
.dashboard-section ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.nav{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* header*/
.header-section{
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 40px;
    box-shadow: 0 3px 3px #dddddd;
}
.tool{
    display: flex;
}
.tool form{
    display: flex;
    align-items: center;
    gap: 5px;
    flex-grow: 1;
    padding-right: 200px;
}
.tool input{
    flex-grow: 1;
    border-radius: 15px;
    border: none;
    padding: 3px;
    background-color: var(--gray-color);
}
.tool .account{
    display: flex;
    align-items: center;
    gap: 20px;
}
.tool .notification svg{
    width: 1.5rem;
    height: 1.5rem;
}
.tool .account-logo img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid black;
}
.tool .account-name{
    font-weight: bold;
    font-size: 1rem;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-section .about{
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: bold;
    font-size: 0.9rem;
}
.header-section .about .account-logo img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid black;
}
.header-section .about .profile p:last-child{
    font-size: large;
}
.menu .actions{
    display: flex;
    gap: 20px;
}
.menu .actions button{
    background-color: var(--blue-color);
    color:white;
    font-weight: 900;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left:25px;
    padding-right: 25px;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
}