:root{
    font-size: 16px;
    --blue-color: rgba(24,146,211,255);
    --gray-color: rgba(225,232,240,255);
    --yellow-color: rgba(239,180,40,255);
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
p{
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
}
svg{
    width: 2rem;
    height: 2rem;
}
li{
    list-style-type: none;
}
ul{
    padding: 0;
}
.page-layout{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
a{
    color: black;
    text-decoration: none;
}
/* Dashboard */
.dashboard-stick{
    position: sticky;
    top: 15px;
}
.dashboard-section{
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 15px;
    padding-top: 15px;
    background-color: var(--blue-color);
    color: white;
}
.dashboard-home{
    font-size: large;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}
.dashboard-section svg{
    fill: white;
}
.dashboard-section li{
    display: flex;
    gap: 20px;
    align-items: center;
}
.dashboard-section ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.nav{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* header*/
.header-section{
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 40px;
    box-shadow: 0 3px 3px #dddddd;
}
.tool{
    display: flex;
}
.tool form{
    display: flex;
    align-items: center;
    gap: 5px;
    flex-grow: 1;
    padding-right: 200px;
}
.tool input{
    flex-grow: 1;
    border-radius: 15px;
    border: none;
    padding: 3px;
    background-color: var(--gray-color);
}
.tool .account{
    display: flex;
    align-items: center;
    gap: 20px;
}
.tool .notification svg{
    width: 1.5rem;
    height: 1.5rem;
}
.tool .account-logo img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid black;
}
.tool .account-name{
    font-weight: bold;
    font-size: 1rem;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-section .about{
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: bold;
    font-size: 0.9rem;
}
.header-section .about .account-logo img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid black;
}
.header-section .about .profile p:last-child{
    font-size: large;
}
.menu .actions{
    display: flex;
    gap: 20px;
}
.menu .actions button{
    background-color: var(--blue-color);
    color:white;
    font-weight: 900;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left:25px;
    padding-right: 25px;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
}

/* content-section */
.content-section{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 15px;
    padding-right: 20px;
    background-color: var(--gray-color);
    gap: 20px;
    padding-bottom: 100px;
}
.projects{
    grid-row: span 2;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr)); 
    gap: 20px;
}
.projects p{
    grid-column: span 2;
    font-weight: bold;
}
.card{
    border-radius: 10px;
    box-sizing: border-box;
    border-left:10px solid var(--yellow-color);
    background-color: white;
    padding: 15px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0 3px 3px #dddddd;
}
.card svg{
    width: 1.3rem;
    height: 1.3rem;
}
.card .description{
    color: #aaaaaa;
    font-size: 0.8rem;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 10px;
}
.card .project-name{
    font-weight: bold;
    font-size: 1rem;
}
.card .respond{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}
.card button{
    background-color: white;
    border: none;
}

.announcement{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.announcement p{
    font-weight: bold;
}
.announcement .container{
    flex-grow: 1;
    background-color: white;
    padding:20px;
    border-radius: 15px;
    box-shadow: 0 3px 3px #dddddd;
    display: grid;
    grid-auto-rows: auto;
}
.announcement .container a{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}
.announcement .container a:nth-child(2){
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
.announcement .container a p:first-child{
    font-weight: bold;
    margin-bottom: 5px;
}
.announcement .container a p:last-child{
    color: #aaaaaa;
    font-weight: 600;
    font-size: 0.7rem;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    display: -webkit-box;
}

.trending img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}
.trending{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.trending p{
    font-weight: bold;
}
.trending .container{
    flex-grow: 1;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.trending a{
    display: flex;
    gap: 10px;
}
.trending .trend-account{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.trending .name{
    font-size: 0.8rem;
    font-weight: bold;
}
.trending .about-trend{
    font-size: 0.9rem;
    color: #aaaaaa;
    font-weight: 600;
}